module "admin" {
  source = "../workspace"

  name                = "admin"
  access_only         = true
  all_privileges      = true
  auth_group          = "ou=admins,g=group"
  cluster_permissions = ["all"]
  indices = [
    {
      name       = "*",
      privileges = ["all"]
    }
  ]
  kibana_spaces = ["admin"]
  roles         = ["admin"]
}