
module "workspace_team01" {
  source = "../workspace"

  team_name = "team01"
  ad_group  = "ou=foo,g=bar"
  cluster_permissions = []
  kibana_features = ["discover", "dashboard", "canvas", "maps", "ml", "visualize", "savedObjectsManagement"]
  indices = [
    {
      names      = ["foobar"],
      privileges = ["index"]
    }
  ]
  kibana_spaces = ["team01"]
  base_template = "foobar"
  index_mapping = file("mapping.json")
  roles = ["team01"]
}

