module "ingest" {
  source = "../workspace"

  name        = "filebeat"
  access_only = true
  auth_group  = "ou=ingest,g=group"
  indices = [
    {
      name       = "*",
      privileges = ["all"]
    }
  ]
  kibana_spaces = []
  base_template = "base"
  roles         = ["filebeat"]
}
